<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<% if (error) {%>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-danger text-center" role="alert">
                <b>Error!</b> <%=error%>

            </div>
        </div>
    </div>
<% } else {%>

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Timetable <%=date%> for <b>Route <%=routeID%></b></h3>
        </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
    <%
        let initial = 0;
    for (var prop in stopNames){%>

        <% stopNames[prop].forEach(function (element,index) {
        if (index===0) {
            if(initial===0){
            initial++;
            %>
            <th>
                Stop Name
            </th>
            <th colspan="<%=stopNames[prop].length%>"> Time </th></tr></thead>
        <%}%>
        <tr>
            <td width="40"><b><%=prop%></b></td>
            <%
        }

    %>
            <td>
        <%=element.arrival_time.substring(0, element.arrival_time.length - 3); %>
            </td>
    <%})%>
        </tr>
        <%
    }
    %>

    <% }%>
    </table>
    </div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>