<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->

    <title></title>

</head>
<body style="margin:0; padding:0;" bgcolor="#F8F8F8" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 100% wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F8F8F8">
    <tr>
        <td width="95%" align="center" valign="top" bgcolor="#F8F8F8" style="background-color: #F8F8F8;">

            <br>

            <!-- 600px container (white background) -->
            <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" bgcolor="#ffffff" style="border: 1px solid #E7E7E7;">
                <tr>
                    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 16px; line-height: 24px; font-family: Helvetica, sans-serif; color: #000;">

                        <br>

                        <!-- ### BEGIN CONTENT ### -->

                        <img src="<%= webLogo %>" class="col-2-img" alt="test">
                        <br><br><br>
                        <h3 style="font-weight: bold; font-size: 20px; line-height: 1.1; color: #000; margin: 0;">
                            Confirm Your  Account
                        </h3>

                        <div>

                            <p>Hey <%= displayName %> , You’ve made the cut! </p>
                            <p> Welcome to <%= webName %></p>
                            <p>Please click the link below to confirm your account! After Confirmation our admin is going to reviw and Approve your account manually. This process may take some time, so be patiente please.
                            </p>

                            <a href="<%= baseURL %>/#confirm_link?user=<%= userId %>&hash=<%= hashedTag %>" style="display:inline-block;padding: 10px 16px;margin-bottom: 0;font-size: 16px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid rgba(0, 0, 0, 0);border-radius: 4px;color: #FFF;background-color: #428BCA;border-color: #357EBD;text-decoration: none;">Confirm</a>

                            <br><br>
                            <p>
                                <%- signature %>
                            </p>

                        </div>

                        <br>
                        <br>



                        <!-- ### END CONTENT ### -->

                    </td>
                </tr>
            </table>
            <!--/600px container -->

            <br>

        </td>
    </tr>
</table>
<!--/100% wrapper-->
</body>
</html>