body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
td:first-child{
  min-width: 400px;
}
td{
  font-size: 12px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}